$TTL	604800
@	IN	SOA	lux.ttu. root.lux.ttu. (
			      4		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
	IN	NS	infra01.lux.ttu.
	IN	NS	infra02.lux.ttu.
102	IN	PTR	infra01.lux.ttu.
103	IN	PTR	infra02.lux.ttu.