$TTL	604800
@	IN	SOA	lux.ttu. root.lux.ttu. (
			      3		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
lux.ttu.	IN	NS	yusef.lux.ttu.
lux.ttu.	IN	NS	vm2.lux.ttu.
yusef.lux.ttu.	IN	A	192.168.56.101
vm2.lux.ttu.	IN	A	192.168.56.102
ns.lux.ttu.  CNAME yusef.lux.ttu.
web.lux.ttu.  CNAME yusef.lux.ttu.