$TTL	604800
@	IN	SOA	lux.ttu. root.lux.ttu. (
			      4		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
	IN	NS	yusef.lux.ttu.
	IN	NS	vm2.lux.ttu.
102	IN	PTR	yusef.lux.ttu.
103	IN	PTR	vm2.lux.ttu.